.centered-content {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente (opcional) */
    height: 10%; /* Ajustar la altura al contenido */
  }